<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Interactive.Async" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.3000.0" newVersion="3.0.3000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.FileSystem" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="botID" value="351011479287365632"/>
    <add key="token" value="MzUxMDExNDc5Mjg3MzY1NjMy.XKEcmQ.0gS2hG0APpidlNF1nF0L8rjCVik"/>
    <add key="mapCode" value=":b39xm"/>
    <add key="username" value="gaiasbot"/>
    <add key="password" value="15RandomSymbols"/>
    <add key="greetingMessage" value="Hello and welcome to the Gaia's Retaliation official group. Have a great time here.
Make sure to check out &lt;#406027893957984257&gt;, &lt;#406028795028701184&gt; and &lt;#406028882622283777&gt; channels and its pinned messages. And feel free to ask, if you have any questions.

The latest version of the map can be found here: &lt;https://goo.gl/xG27cT&gt;"/>
    <add key="helpMessage" value="Useful channels: 
&lt;#406028795028701184&gt;
&lt;#406028882622283777&gt;
&lt;#406900666834092062&gt;"/>
    <add key="rolesHierarchy" value="newbie,the crab killer,sanev's bro,the forgotten one,doppelganger,plague banisher,firelord's bane,king of the hill,crazy alchemist,arachnophobe,stone guardian,cave stalker,gandalf,the core's guardian,buried by sands"/>
  </appSettings>
</configuration>